.background {
    background-attachment: fixed;
    background-image: url("../src/img/image-bg-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 900px;
}
.background-second{
  background-image: url("../src/img/image-bg-01.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 900px;
}
