.second-navi {
  background-color: #E6E6E6;
  height: 55px;
  margin:auto;
  ul {
    width: 80%;
    text-align: center;
    li {
    @include list-style;
    @include tipography (18px, 45px, 500, 0);
    padding:12px 20px 21px 20px;
    background-color: #E6E6E6;
    &:hover {
      border-bottom: 5px solid black;
    }
    a {
      color:#555;
      @include list-style;
    }
  }
 }
}
